footer {
    width: 100%;
    position: static;
    height: 45px;
    top: 0;
    padding: 10px 5%;
}

footer p {
    text-align: center;
    padding-top: 5%;
}

footer .iconos {
    text-align: center;
    padding-top: 10%;
    padding-bottom:15% ;
}

i {
    margin-left: 1em;
    margin-right: 1em;
}